/* color */
body {
    background: #fcffda;
}

.game-title {
    color: darkseagreen;
}

button {
    background: darkseagreen;
    color: #fcffda;
}

.result-row {
    background: white;
}

/* text-align */
body, input, .result-row, .text-user-answer, .text-strike, .text-ball, .text-out {
    text-align: center;
}

/* mobile */
body {
    padding: 10vw;
}

.game-title {
    font-size: 7vw;
    font-weight: bold;
}

input {
    width: 10vw;
    height: 10vw;

    margin: 1vw;
    padding: 1vw;

    font-size: 4vw;
}

button {
    width: 20vw;
    height: 8vw;

    margin: 1vw;
    padding: 1vw;

    border: 2px solid #fcffda;
    border-radius: 5px;

    font-weight: 600;
}

.result-row {
    display: flex;
    justify-content: space-between;

    width: 60vw;
    height: 5vw;

    margin: 3vw auto;
    padding: 3vw;

    border: 1px solid #858585;
    border-radius: 3px;
}

.result-row-user-answer, .result-row-strike, .result-row-ball, .result-row-out {
    display: flex;
    align-items: center;

    font-size: 3vw;
}

/* tablet */
@media only screen and (min-width: 480px) {
    button {
        width: 15vw;
        height: 5vw;
        font-size: 2vw;
    }
}

@media only screen and (min-width: 768px) {
    body {
        padding: 5vw;
    }

    .game-title {
        font-size: 3vw;
        font-weight: bold;
    }

    input {
        width: 2vw;
        height: 2vw;

        margin: 1vw;
        padding: 1vw;

        font-size: 1.6vw;
    }

    button {
        width: 5vw;
        height: 3vw;

        margin: 1vw;
        padding: 1vw;

        border: 2px solid #fcffda;
        border-radius: 5px;

        font-size: 1vw;
    }

    .result-row {
        display: flex;
        justify-content: space-between;

        width: 22vw;
        height: 2vw;

        margin: 1vw auto;
        padding: 1vw;

        border: 1px solid #858585;
        border-radius: 3px;
    }

    .result-row-user-answer, .result-row-strike, .result-row-ball, .result-row-out {
        display: flex;
        align-items: center;

        font-size: 1vw;
    }
}